<div id="<%= dom_id followrequest %>">
  <p>
    <strong>Recipient:</strong>
    <%= followrequest.recipient_id %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= followrequest.sender_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= followrequest.status %>
  </p>

</div>
