<h1>Editing followrequest</h1>

<%= render "form", followrequest: @followrequest %>

<br>

<div>
  <%= link_to "Show this followrequest", @followrequest %> |
  <%= link_to "Back to followrequests", followrequests_path %>
</div>
