<ul class="nav nav-tabs nav-fill p-10 role="tablist">
  <% if request.original_url[-5..] == "liked" %>
    <li class="nav-item" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="true"><%= link_to "Posts #{7}", specific_user_path(current_user.email.chomp("@example.com")), class: "nav-link" %>
      
    </li>

    <li class="nav-item" id="nav-liked-tab" data-bs-toggle="tab" data-bs-target="#nav-liked" type="button" role="tab" aria-controls="nav-liked" aria-selected="true">
    <%= link_to "Liked #{8}", (specific_user_path(current_user.email.chomp("@example.com"))+"/liked"), class: "nav-link active" %>
    </li>
  </ul>

  <div class="tab-content py-3 px-5" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-posts">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card col">
            <div class="card header">
            </div>
          </div>
      </div>
    </div>

    <div class="tab-pane fade show active" id="nav-liked">
    </div>
  </div>
  <% else %>
    <li class="nav-item" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="true"><%= link_to "Posts #{7}", specific_user_path(current_user.email.chomp("@example.com")), class: "nav-link active" %>
      
    </li>

    <li class="nav-item" id="nav-liked-tab" data-bs-toggle="tab" data-bs-target="#nav-liked" type="button" role="tab" aria-controls="nav-liked" aria-selected="true">
    <%= link_to "Liked #{8}", (specific_user_path(current_user.email.chomp("@example.com"))+"/liked"), class: "nav-link" %>
    </li>
  </ul>

  <div class="tab-content py-3 px-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-posts">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card col">
            <div class="card header">
            </div>
          </div>
      </div>
    </div>

    <div class="tab-pane fade" id="nav-liked">
    </div>
  </div>
<% end %>
