<div class="media-body">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mt-0 mb-3 display-4">
        <%= @user.email %>
      </h1>

      <div>
        <span class="badge badge-secondary">
          Public
        </span>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
        <a data-toggle="modal" data-target="#user_1415140_followers" href="#">
          <span class="font-weight-bold">4</span>
          followers</a>
      </div>

      <div class="col">
        <a data-toggle="modal" data-target="#user_1415140_following" href="#">
          <span class="font-weight-bold">3</span>
          following</a>
      </div>

      <div class="col">
        <a data-toggle="modal" data-target="#user_1415140_pending" href="#">
          <span class="font-weight-bold">4</span>
          pending</a>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
      </div>
    </div>

    <div class="row mb-4">
      <div class="col">
          <form action="/follow_requests" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="R-8YGiM3-Z9nLvvx3LOO2b00oz5UtienDpe7zXkOuyIoFzF9SjwHe1WaBxlIq-9ZDJWNoJ5Ig0y1zihYhglcDA">

  <input type="hidden" value="1415140" name="follow_request[recipient_id]" id="follow_request_recipient_id">

  <div class="actions">
    <input type="submit" name="commit" value="Follow" class="btn btn-outline-secondary btn-block" data-disable-with="Follow">
  </div>
</form>
      </div>
    </div>

    <h3 class="h5">
      Alice Smith
    </h3>

    <p>
      Et depono turba. Dicta ater subseco. Adulatio aggredior cohibeo.
    </p>

    <p>
      <a href="http://ebert-kerluke.co/joesph">ebert-kerluke.co/joesph</a>
    </p>
  </div>
