<div class="card">
  <div class="card-header">
    <%= current_user.email %>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="d-grid">
          followers
        </div>
      </div>
      <div class="col">
        <div class="d-grid">
          following
        </div>
      </div>
      <div class="col">
        <div class="d-grid">
          pending
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    Last updated ago
  </div>
</div>
